<div class="container">
  <h1 class="text-center py-5">Edit Restaurant</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      <%= render 'form', restaurant: @restaurant %>
      <%= link_to 'Back', restaurants_path %>
    </div>
  </div>
</div>